[flake8]
directory = src/plonemeeting/portal/core
return-status-codes = True
exclude = *.egg,omelette,.git,bin,develop-eggs,include,var,lib,local,parts
ignore = E501, W503, E203, Q000, C812, C819
max-complexity = 15
