os:
  - linux
dist: bionic
language: python

cache:
  pip: true
  directories:
  - eggs

python:
  - "3.6"
  - "3.7.5"
  - "3.7.6"
  - "3.8"

env:
  - PLONE_VERSION=52

jobs:
  fast_finish: true
  allow_failures:
    - python: "3.6"
    - python: "3.8"

before_install:
  - sudo apt-get update --no-install-recommends -qy
  - sudo apt-get install -qy firefox-geckodriver build-essential
  - virtualenv -p `which python` .
  - bin/pip install -r requirements.txt -c constraints_plone$PLONE_VERSION.txt
  - cp test_plone$PLONE_VERSION.cfg buildout.cfg

install:
  - bin/buildout annotate
  - bin/buildout

before_script:
- 'export DISPLAY=:99.0'
- Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
- sleep 3
- firefox -v

script:
  - bin/test --all

after_success:
  - bin/createcoverage --output-dir=parts/test/coverage
  - bin/pip install -q coveralls
  - bin/coveralls
