graft src/plonemeeting
graft docs
include *.rst
global-exclude *.pyc
include *.GPL
include *.txt
exclude *.yml
exclude Makefile
include tox.ini
prune src/plonemeeting/portal/core/browser/resources/node_modules/*
