.hero-primary {
  padding: 3em 1em;
  @include media-breakpoint-down(lg) {
    padding: 1.5em 1em;
    margin-top: 3em;
  }
  background-color: $delib-primary;
  box-shadow: $shadow-inner;

  @include headings() {
    color: #FFF;
    margin-bottom: 25px;
    margin-top: 0;
  }
  .hero-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    img {
      height: 500px !important;
      width: auto;
      z-index: 10;
      position: relative;
      margin: -200px 0;
      @include media-breakpoint-down(xl) {
        margin: -200px 0 1em 0;
        height: 300px !important;
      }
    }
  }

  h1 {
    font-size: 2.5em;
    font-weight: 500;
    text-align: center;
    @include media-breakpoint-down(xl) {
      font-size: 2em;
    }
  }

  .hero-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}
