.template-homepage_view {
  @include headings {
    font-family: "Quicksand";
    font-weight: 500;
  }
}

.template-homepage_view header#content-header {
  background: transparent;
  margin-bottom: 10em;
}

.template-homepage_view header#content-header:before {
  position: absolute;
  top: -60px;
  content: " ";
  opacity: 0.2;
  background: url("../assets/homepage-background.jpg") center center / cover no-repeat !important;
  background-size: cover;
  height: 500px;
  width: 100%;
  z-index: -10;
}

.faq-grid {
  width: 100%;
  height: auto;
}

.faq-item-wrapper {
  width: calc(50% - 25px);
  @include media-breakpoint-down(lg) {
    width: calc(100%);
  }

  .faq-item {
    background-color: $delib-lightgrey;
    margin: 1em 0em;
    font-size: 1.2em;
    padding: 1em;
    border-radius: $delib-border-radius;
  }
}

.institution-select {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  .institution-select-input {
    position: relative;
    z-index: 50;
    flex: 1;

    div {
      border-width: 0 !important;
    }
  }
}

a.btn-white {
  margin-left: 1em;
  height: 46px;
  background-color: #fff;
  padding: 0 1em;
  border-radius: $rounded-md;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  @include media-breakpoint-down(md) {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
  }

  svg {
    color: #DE007B;
    transition: all 0.1s ease-in-out;
  }

  &:hover, &:active {
    background-color: lighten($delib-primary, 5);
    color: #fff;
    padding: 0 1em;
    border-radius: $rounded-md;
    cursor: pointer;
    box-shadow: $shadow-md;

    svg {
      fill: #fff;
      color: #fff;
    }
  }
}


