.template-homepage_view {
  @include headings {
    font-family: "Quicksand";
    font-weight: 500;
  }

  #mainnavigation-wrapper {
    display: none;
  }
}

.template-homepage_view header#content-header {
  background: transparent;
  margin-bottom: 10em;
}

.template-homepage_view header#content-header:before {
  position: absolute;
  top: -60px;
  content: " ";
  opacity: 0.2;
  background: url("../assets/homepage-background.jpg") center center / cover no-repeat !important;
  background-size: cover;
  height: 500px;
  width: 100%;
  z-index: -10;
}

.faq-grid {
  width: 100%;
  height: auto;
}

.faq-item-wrapper {
  width: calc(50% - 25px);
  @include media-breakpoint-down(lg) {
    width: calc(100%);
  }

  .faq-item {
    background-color: $delib-lightgrey;
    margin: 1em 0em;
    font-size: 1.2em;
    padding: 1em;
    border-radius: $delib-border-radius;
  }
}

.institution-select {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  .institution-select-input {
    position: relative;
    z-index: 50;
    flex: 1;

    div {
      border-width: 0 !important;
    }
  }
}

a.btn-white {
  margin-left: 1em;
  height: 46px;
  background-color: #fff;
  padding: 0 1em;
  border-radius: $rounded-md;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  @include media-breakpoint-down(md) {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
  }

  svg {
    color: #DE007B;
    transition: all 0.1s ease-in-out;
  }

  &:focus {
    border: 0;
    outline: 0 !important;
    box-shadow: 0 0 0 3px #f1f1f180;
  }

  &:hover, &:active {
    background-color: lighten($delib-primary, 5);
    color: #fff;
    padding: 0 1em;
    border-radius: $rounded-md;
    cursor: pointer;
    box-shadow: $shadow-md;

    svg {
      fill: #fff;
      color: #fff;
    }
  }
}

.checkbox-filter-select {
  overflow: hidden;
  padding: 0.5em;
  background-color: $grey-100;
  color: $grey-800;
  border-radius: 4px 4px 0 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 0.6em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  border-bottom: 1px solid $grey-200;

  input[type=checkbox] {
    margin: 0.25em 0.5em;
    accent-color: $delib-primary;
  }

  @include media-breakpoint-down(md) {
      grid-template-columns: repeat(1, 1fr);
      font-size: 0.7em;
  }
}

.userrole-anonymous .institution-select .institution-select-option .badge {
  display: none;
}

.institution-select .institution-select-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
