@media screen and (min-width: 1140px) {
  .item-title {
    font-size: 22px;
  }

  .meeting-metadata {
    margin: 0;
  }

  .item-preview {
    margin: 1em 0 0 0;
    padding: 2em 2em;
    display: flex;
    background: $delib-lightgrey;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .project-disclaimer {
    width: 100%;
    font-style: italic;
    position: relative;
  }

  .project-disclaimer span {
    position: relative;
    z-index: 1;
  }

  .item-category,
  .item-representative {
    font-size: 20px;
  }

  #faceted-form fieldset {
    margin: .5em;
    padding: 1em .5em 1.5em .5em;
  }

  .item-infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .decision,
  .portalMessage {
    width: 100%;
  }

  body #faceted-form {
    fieldset {
      padding: 1em 0.5em 1em 0em;
    }

    #text_widget fieldset {
      min-width: 400px;
    }
  }

  .item-infos .meeting-title {
    max-width: 300px;
  }

  .template-facetednavigation_view #top---default---widgets {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .template-facetednavigation_view #top---default---widgets fieldset {
    max-width: 240px;
  }

  #seance_widget {
    flex: 1 1 250px;
  }

  .item-preview .item-metadata {
    max-width: 350px;
    padding: 0 10px 0 30px;
    border-left: 1px solid #c9c9c9;
    margin-top: 20px;
    border-top: none;
    width: 100%;
  }

  .project-disclaimer {
    max-width: 100%;
    line-height: 1.1;
  }

  .item-main {
    margin-left: 0;
    max-width: 50%;
  }

  .meeting-state {
    font-size: 28px;
    transform: none;
  }

  .public-meeting {
    text-align: center;
  }

  .item-infos .meeting-state {
    font-size: 28px;
  }

  .item-metadata .item-last-pm-modified {
    width: 100%;
    text-align: center;
  }

  .item-infos .item-metadata {
    max-width: 50%;
  }

  .item-infos .meeting-metadata {
    margin-top: 0;
  }

  h1 {
    font-size: 25px !important;
  }
}

@media screen and (min-width: 1400px) {
  .item-main {
    max-width: 63%;
  }
}
