// Colors
$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #eab308;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;



$imio-pink-50: #FFC4E5;
$imio-pink-100: #FFABDA;
$imio-pink-200: #FF78C3;
$imio-pink-300: #FF45AC;
$imio-pink-400: #FF1295;
$imio-pink-500: #DE007B;
$imio-pink-600: #AB005F;
$imio-pink-700: #780042;
$imio-pink-800: #450026;
$imio-pink-900: #12000A;


$white: #ffffff;
$grey-50: #fcfcfc;
$grey-100: #f8f9fa;
$grey-200: #e9ecef;
$grey-300: #dee2e6;
$grey-400: #ced4da;
$grey-500: #adb5bd;
$grey-600: #6c757d;
$grey-700: #495057;
$grey-800: #343a40;
$grey-900: #212529;


$delib-lightgrey: $grey-100;
$delib-primary: $imio-pink-500;

// Box shadows

$shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
$shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
$shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
$shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.1);

// Border radius

$rounded-sm: 0.125rem;
$rounded: 0.25rem;
$rounded-md: 0.375rem;
$rounded-lg: 0.5rem;
$rounded-xl: 0.75rem;
$rounded-2xl: 1rem;
$rounded-3xl: 1.5rem;
$rounded-full: 9999px;
$delib-border-radius: 8px;

// Breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);


$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1360px
);

