

/* --- header --- */

body {
	overflow-x: hidden;
	background: #fff;
	background-color: #fff!important;
	color: #292929!important;
}

#portal-logo img {
	max-width: 250px;
}

h1 {
	font-weight: bold!important;
	font-size: 26px;
}

/* --- Filters --- */

fieldset {
	border: none!important;
}

body.template-facetednavigation_view input[type="color"],
body.template-facetednavigation_view input[type="date"],
body.template-facetednavigation_view input[type="datetime-local"],
body.template-facetednavigation_view input[type="email"],
body.template-facetednavigation_view input[type="month"],
body.template-facetednavigation_view input[type="number"],
body.template-facetednavigation_view input[type="password"],
body.template-facetednavigation_view input[type="range"],
body.template-facetednavigation_view input[type="search"],
body.template-facetednavigation_view input[type="tel"],
body.template-facetednavigation_view input[type="text"],
body.template-facetednavigation_view input[type="time"],
body.template-facetednavigation_view input[type="url"],
body.template-facetednavigation_view input[type="week"],
body.template-facetednavigation_view textarea,
body.template-facetednavigation_view select {
	width: 100%;
	display: block;
	height: 45px;
	padding: 6px 12px;
	font-size: 15px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
	background-image: none;
	border: none;
	border-radius: 4px;
	box-shadow: 0px 2px 45px -25px rgba(0, 0, 0, 0.58);
	border: solid 1px#dcdbdb;
}

body.template-facetednavigation_view input:hover,
select:hover,
input:focus,
select:focus {
	opacity: 1;
	box-shadow: none!important;
}

body.template-facetednavigation_view #top-area {
	background: #f1f1f1!important;
	position: relative;
}

body.template-facetednavigation_view #top-area:after {
	content: "";
	position: absolute;
	background: #f1f1f1;
	z-index: -1;
	width: 100vw;
	top: -150px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

body.template-facetednavigation_view #top-area legend {
	border: none;
}

body.template-facetednavigation_view .searchButton {
	background: #fff;
	z-index: 1;
	position: relative;
	margin-right: 0;
	transform: translateX(-2px);
	border: none;
	border-left-color: currentcolor;
	border-left-style: none;
	border-left-width: medium;
	border-left: 1px solid rgb(220, 220, 220);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

body.template-facetednavigation_view .searchButton:hover {
	background: rgba(189, 189, 189, 0.438);
}

body.template-facetednavigation_view #top---default---widgets legend {
	font-size: 18px;
	margin-bottom: 0;
	line-height: .5;
}

.section-texte form {
	display: flex;
}

html body .faceted-criteria-hide,
html body .faceted-criteria-reset a {
	padding: 10px;
	border: 1px solid #007BB1 !important;
	border-radius: 25px;
	float: none;
	display: inline-block;
	transition: all .3s ease;
}

.meeting-actions {
	display: inline-block;
}

html body .meeting-title .meeting-actions a {
	background: transparent!important;
	border: none!important;
}

html body .faceted-criteria-hide-show:hover a,
html body .faceted-criteria-reset a:hover {
	color: #fff!important;
	background: #007BB1;
}


/* --- Results --- */

.meeting-infos {
	font-size: 25px;
}

.meeting-title {
	font-weight: bold;
}

.meeting-custom-info {
	font-size: 18px;
	margin-top: 10px;
	padding: 15px;
	background: #f1f1f1;
}

.meeting-last-pm-modified {
	font-size: 16px;
}

.public-meeting {
	margin: 1rem 0;
	width: 100%;
}

#faceted-results {
	margin: 2em 0;
}

.item-preview {
	margin: 20px 0;
	border-bottom: 1px solid#dedede;
	padding: 10px;
	position: relative;
	background: rgb(241, 241, 241);
}

.item-preview.in_project .item-metadata a,
.item-preview.decision .item-metadata a,
.item-preview.private .item-metadata a {
	color: #fff!important;
}

.item-preview.in_project .item-metadata a:hover,
.item-preview.decision .item-metadata a:hover,
.item-preview.private .item-metadata a:hover {
	color: #484849;
}

.item-preview .item-metadata {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	border-bottom: none
}

.item-preview .meeting-title {
	font-size: 18px;
}

.item-preview .item-number:first-child {
	font-size: 25px;
}

.item-main {
	font-size: 20px;
}

.item-representative,
.item-category {
	font-size: 16px;
	width: 100%;
}

body .item-metadata>a {
	background: #007BB1;
	border-radius: 25px;
	padding: 11px 21px;
	display: inline-block;
	margin: 0 0 15px 0;
	font-size: 16px;
	border: solid 1px #007bb1!important;
	transition: all .15s ease;
	width: 100%;
	text-align: center;
	max-width: 320px;
}

.item-metadata>a:hover,
.item-metadata>a:focus {
	background: transparent;
	color: #fff;
	text-decoration: none;
}

.item-infos .meeting-title a {
	color: #fff;
	background: #007BB1;
	border-radius: 25px;
	padding: 11px 21px;
	display: inline-block;
	margin: 0 0 15px 0;
	font-size: 16px;
	border: solid 1px #007bb1!important;
	transition: all .15s ease;
	width: 100%;
	text-align: center;
}

.item-infos .meeting-title a:hover {
	color: rgb(37, 37, 37)!important;
	background: transparent;
}

.item-title {
	font-size: 25px;
	margin-bottom: 10px;
}

#faceted-form fieldset {
	padding: 1em .5em 1.5em .5em!important;
}

.meeting-state {
	font-size: 20px;
}

.in_project .meeting-state {
	color: #ff7a05;
}

.decision .meeting-state {
	color: #469721;
}

.private .meeting-state {
	color: #c21b1b
}

#seance_widget fieldset {
	max-width: inherit!important;
}


/*Watermark*/

.item-infos.in_project:after,
.item-infos.private:after {
	content: "";
	font-size: 100px;
	position: absolute;
	top: 0;
	background: url(++plone++plonemeeting.portal.core/assets/project.jpg);
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: .25;
	background-size: 20%;
}

.item-infos .public-meeting {
	text-align: left;
}

.item-label {
	font-size: 17px!important;
}

div.decision table {
	margin-bottom: 1em;
}

.item-infos .selected-option {
	font-weight: bold !important;
	font-size: 20px !important;
}

.item-main .selected-option {
	font-weight: bold !important;
	font-size: 20px !important;
}

.item-infos .item-metadata div {
	margin: 5px 0;
}


/* VUE POINT*/

.item-infos {
	font-size: 16px;
}

.item-infos .meeting-title {
	font-size: 25px;
	color: #007BB1;
	margin: 10px 0 10px 0;
	max-width: 300px;
}

.item-infos.decision .meeting-title a {
	color: #fff;
}

.item-infos.in_project .meeting-title a {
	color: #fff;
}

.item-infos.private .meeting-title a {
	color: #fff;
}

.item-infos .item-number span:last-child,
.item-infos .item-type span:last-child,
.item-infos .representative span:last-child,
.item-infos .category span:last-child .selected-option,
.item-infos .custom-info span:last-child {
	font-weight: bold!important;
	font-size: 20px!important;
}

.item-infos .item-label {
	font-size: 17px;
}

.item-infos .decision span:first-child {
	margin: 0 0 12px 0;
}

.item-last-pm-modified {
	text-align: center;
}

.item-infos .item-last-pm-modified {
	text-align: left;
}

.item-metadata .item-last-pm-modified {
	width: 100%;
	text-align: left;
}

.item-infos .meeting-state {
	position: relative;
	font-size: 25px;
	right: 0;
}


/* ANNEXES */

.annexes {
	font-size: 20px;
	width: 100%;
	margin-top: 1rem;
}

.annexes ul {
	padding: 0;
}

.annexes h2 {
	font-weight: bold;
	font-size: 25px;
	margin: 0 0 15px 0;
}

.annexes li {
	list-style: none;
	display: inline;
}

.annexes li a {
	margin-right: 10px;
}

.item-infos .annexes {
	margin-top: 1.5em!important;
}

.annexes li a img {
	margin-right: 8px;
}

table tr,
td {
	padding: .7em!important;
}

body #content-core a {
	border-bottom: none;
}

body #content-core a:hover {
	border-bottom: 1px solid #cccccc;
}

#text_widget legend {
	display: none;
}

body #faceted-form #text_widget fieldset {
	padding-top: 0!important;
}

.item-infos .meeting-metadata {
	margin-top: 2rem;
}

.meeting-metadata {
	margin: 10px 0;
}


/* Warnig Message */

.alert.status.alert-warning,
.portalMessage.alert-warning,
.alert.status.warning,
.portalMessage.warning {
	color: #000!important;
}

.portalMessage.warning>strong {
	color: #000!important;
}

.plone-navbar-nav .current>a,
.plone-navbar-nav .selected>a,
.plone-navbar-nav .current>a:hover,
.plone-navbar-nav .selected>a:hover,
.plone-navbar-nav .current>a:focus,
.plone-navbar-nav .selected>a:focus {
	color: white;
	background-color: rgba(255, 255, 255, 0.3)!important;
}

.portalMessage.warning>strong {
	font-size: 19px;
	padding-bottom: 1rem;
	display: block;
}

.portalMessage.warning {
	margin-top: 2em;
}


/* MEDIA QUERIS */

@media screen and (min-width: 1000px) {
	#faceted-results {
		margin: 2em 0;
	}
	.meeting-metadata {
		margin: 0;
	}
	.item-preview {
		margin: 40px 0;
		padding: 2em 2em;
		display: flex;
		background: rgb(241, 241, 241);
		border-radius: 8px;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.project-disclaimer {
		width: 100%;
		font-style: italic;
		position: relative;
	}
	.project-disclaimer span {
		position: relative;
		z-index: 1;
	}
	.item-preview .project-disclaimer:after {
		content: "";
		position: absolute;
		left: -27px;
		right: -27px;
		top: -27px;
		bottom: -27px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		border-top: solid 1px #d6d6d6;
	}
	.item-preview .project-disclaimer {
		margin-top: 3rem;
	}
	.item-main {
		max-width: 50%;
	}
	.item-representative,
	.item-category {
		font-size: 20px;
	}
	#faceted-form fieldset {
		margin: .5em;
		padding: 1em .5em 1.5em .5em!important;
	}
	.item-infos {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.portalMessage,
	.decision {
		width: 100%;
	}
	#text_widget legend {
		display: block;
		visibility: hidden;
	}
	body #faceted-form #text_widget fieldset {
		padding-top: 1em!important;
	}
	.item-infos .meeting-title {
		max-width: 300px;
	}
	.template-facetednavigation_view #top---default---widgets {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.template-facetednavigation_view #top---default---widgets fieldset {
		max-width: 242px;
	}
	.template-facetednavigation_view #top-area {
		background: #ffffff;
		padding: 3rem;
	}
	.template-facetednavigation_view #top-area {
		padding: 3rem 0;
	}
	.template-facetednavigation_view #top-area {
		margin-bottom: 2.5em;
		padding: 2em 0;
	}
	h1 {
		font-size: 36px;
	}
}

@media screen and (min-width: 1140px) {
	.item-preview .item-metadata {
		width: 335px;
		max-width: 350px;
		padding: 0 30px 0 62px;
	}
	.project-disclaimer {
		max-width: 100%;
		line-height: 1.1;
	}
	.item-main {
		margin-left: 0;
		max-width: 60%;
	}
	.meeting-state {
		font-size: 28px;
		transform: none;
	}
	.item-preview .item-metadata {
		flex-direction: column;
		flex-direction: column;
		max-width: 350px;
		padding-left: 50px;
		border-left: 1px solid rgb(201, 201, 201);
		padding: 0 30px 0 70px;
	}
	.public-meeting {
		text-align: center;
	}
	.item-infos .meeting-state {
		font-size: 28px;
	}
	.item-metadata .item-last-pm-modified {
		width: 100%;
		text-align: center;
	}
	.item-infos .item-metadata {
		max-width: 50%;
	}
	.item-infos .meeting-metadata {
		margin-top: 0;
	}
}


/* COLOR CITY */

.site-liege #show-less-link .site-liege #show-more-link,
.site-liege .item-preview.in_project .item-metadata a:hover,
.site-liege .annexes li a,
.site-liege .item-title,
.site-liege .item-metadata>a:hover {
	color: #d7004e!important;
}

.site-liege a:hover,
.site-liege .documentAuthor a,
.site-liege #content-core .decision a {
	color: #d7004e;
}

.site-liege .portalMessage.warning>strong::before,
.site-liege .plone-navbar,
.site-liege .item-infos .meeting-title a,
.site-liege .meeting-title a,
.site-liege .plone-nav li a:focus,
.site-liege .item-metadata>a {
	background-color: #d7004e;
}

.site-liege .item-metadata>a,
.site-liege .item-infos .meeting-title a,
.site-liege .meeting-title a {
	border: solid 1px #d7004e!important;
}

.site-liege .annexes li a:hover,
.site-liege .item-infos .meeting-title a:hover,
.site-liege .meeting-title a:hover,
.site-liege .item-metadata>a:hover {
	background-color: transparent;
}

.site-liege .plone-navbar-toggle:hover {
	background-color: transparent;
	border-color: #fff;
}

.site-liege .alert.status.alert-warning,
.site-liege .portalMessage.alert-warning,
.site-liege .alert.status.warning,
.site-liege .portalMessage.warning {
	background-color: #ffaed3;
	border: 1px solid #c73b7a;
}

.site-liege .plone-nav li a:hover {
	color: #fff;
	background: #920337;
}

